/**------------------------------------------------------------------
 * [Table of contents | Main style]
 *
 * 1. Typography #typography
 * 2. Variables #variables
 * 3. Colors #colors
 * 4. Mixins #mixins
 */
/**
 * Colors #colors
 */
/**
 * Form colors
 */
@-webkit-keyframes showOpacity
{
    0%
    {
        display: block;

        opacity: 0;
    }
    100%
    {
        display: block;

        opacity: 1;
    }
}
@-o-keyframes showOpacity
{
    0%
    {
        display: block;

        opacity: 0;
    }
    100%
    {
        display: block;

        opacity: 1;
    }
}
@keyframes showOpacity
{
    0%
    {
        display: block;

        opacity: 0;
    }
    100%
    {
        display: block;

        opacity: 1;
    }
}

@-webkit-keyframes showOpacityTilt
{
    0%
    {
        display: block;

        -webkit-transform: translate3d(0, 10%, 0);
                transform: translate3d(0, 10%, 0); 

        opacity: 0;
    }
    100%
    {
        display: block;

        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@-o-keyframes showOpacityTilt
{
    0%
    {
        display: block;

        transform: translate3d(0, 10%, 0); 

        opacity: 0;
    }
    100%
    {
        display: block;

        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes showOpacityTilt
{
    0%
    {
        display: block;

        -webkit-transform: translate3d(0, 10%, 0);
                transform: translate3d(0, 10%, 0); 

        opacity: 0;
    }
    100%
    {
        display: block;

        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

/**
 * Typography #typography
 */
/**
 * Mixins #mixins
 */
.form-wrap
{
    margin-bottom: 55px;
    padding: 20px 35px 30px;

    border: 10px solid #ededed;
    border-radius: 40px;
}

.form-wrap .form-ttl
{
    font-size: 18px;
    line-height: 24px;

    margin-top: 0;
    margin-bottom: 10px;
}

.form-wrap em
{
    font-size: 12px;
}

.form-wrap .form-group
{
    display: inline-block;

    width: calc(100% - 95px);
    margin: 5px 15px 5px 0;

    vertical-align: middle;
}

.form-wrap .form-group .form-control
{
    line-height: 38px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 20px;

    border: 1px solid #dedede;
    border-radius: 0;
    outline: none; 
    background: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.form-group .form-control:focus
{
    border: 1px solid #ffb900;
}

.form-group select
{
    outline: none;
}

.form-wrap .form-group input[type='email']
{
    padding: 0 20px;
}

.form-wrap form
{
    margin-top: 25px;
}

.form-wrap .city-select.recovery-form
{
    padding: 0 25px;
}

.recovery-form .form-group
{
    width: calc(100% - 156px);
}

.form-btn
{
    font-size: 18px;
    font-weight: bold;

    height: 40px;
    padding: 0 20px;

    cursor: pointer;
    vertical-align: middle; 

    color: #fff;
    border: none;
    outline: none;
    background: #ffb900;
}

.form-btn:hover
{
    background-color: #e5a800;
}

body.active
{
    overflow-y: hidden;
}

.popup-wrap
{
    position: fixed;
    z-index: 100501;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: auto;

    background: rgba(0, 0, 0, .5);
}

.popup
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 1130px;
    margin: 100px auto;

    -js-display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
}

.popup .popup-block
{
    width: calc(50% - 50px);
    margin-right: 50px;
}

.form-wrap .form-container .form-btn
{
    line-height: 40px;

    display: inline-block;

    margin: 10px 0;

    vertical-align: middle; 
    text-decoration: none;
}

.form-wrap .form-container .form-btn--toll
{
    margin-top: 40px;
}

.form-wrap .city-select--wide .form-btn
{
    overflow: hidden; 

    width: 260px;
    padding: 0;
}

.popup .popup-block .form-wrap .form-container
{
    width: 100%;
}

.popup .popup-block .form-wrap
{
    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    min-width: 400px;
    min-height: 360px;
    padding: 50px 45px;

    text-align: center;

    background: #fff;

    -js-display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.popup .popup-block .form-wrap .form-ttl
{
    font-family: robotoregular, Arial, Helvetica, sans-serif; 
    font-size: 30px;

    margin-bottom: 30px;
}

.popup .popup-block .form-wrap p
{
    margin-top: 30px;
    margin-bottom: 30px; 
    padding-bottom: 0;
}

.popup .popup-block .form-wrap p + form
{
    margin-top: 30px;
}

.popup .popup-block .form-wrap .close
{
    position: absolute;
    top: 25px;
    right: 25px;

    display: block;

    width: 20px;
    height: 20px;

    cursor: pointer;

    background: url('../images/close-form.png') center center;
}

.popup .popup-block .form-wrap .close:hover
{
    opacity: .7;
}

.popup .popup-block:last-child,
.popup .popup-block:nth-child(2n)
{
    margin-right: 0;
}

.popup .popup-block > span
{
    font-size: 14px;

    display: inline-block;

    max-width: 40%;
    margin-bottom: 15px;

    vertical-align: middle; 

    color: #fff;
}

.popup .popup-block > img
{
    margin: 0 10px 15px 30px;

    vertical-align: middle;
}

.form-wrap .city-select
{
    padding: 0 40px;
}

.form-wrap .city-select--wide
{
    padding: 0;
}

.form-wrap .city-select--wide .form-group
{
    float: left; 

    width: calc(50% - 10px);
    margin: 5px;
}

.form-wrap .city-select--wide .form-group.form-group--wide
{
    width: 100%;

    text-align: left;
}

.form-wrap .city-select--wide .form-group.form-group--wide .form-control
{
    width: calc(50% - 10px);
}

.form-wrap .path-wrap
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 30px 40px; 

    -js-display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.form-wrap .path-wrap .path-inner:first-child
{
    background: url('../img/map-ico.png') 10px 3px no-repeat;
}

.form-wrap .path-wrap .path-inner:nth-child(2)
{
    background: url('../img/basket-ico.png') left 5px no-repeat;
}

.form-wrap .path-wrap .path-inner:last-child
{
    background: url('../img/car-ico.png') left 5px no-repeat;
}

.form-wrap .path-wrap .path-inner
{
    display: inline-block;
    overflow: hidden;

    width: 33%;
    height: 40px;
    padding-left: 30px;

    text-align: left;
    vertical-align: top;
}

.form-wrap .form-group select
{
    width: 100%;
    height: 40px;
    padding: 0 20px;

    border: 1px solid #dedede;
}

.top-line__tel
{
    font-size: 22px;
    line-height: 56px;

    position: relative;

    float: left;

    text-transform: uppercase;
}

.top-line__tel .selector
{
    font-size: 18px;
    line-height: 20px;

    position: relative;

    display: inline-block;

    margin-top: -5px;
    margin-left: 10px;

    vertical-align: middle; 
    text-decoration: none;
}

.top-line__tel .selector .select-blocks .list
{
    position: absolute;
    top: 100%;

    margin-top: 2px;
    padding: 0;

    border: 10px solid rgba(237, 237, 237, .71);
    background-color: transparent; 
    -webkit-box-shadow: none;
            box-shadow: none;
}

.top-line__tel .selector .select-blocks .list .tel-all
{
    padding: 15px 20px;

    background: #ffb900;
}

.top-line__tel .selector .select-blocks .list a span
{
    color: #fff;
}

.top-line__tel .selector .select-blocks .list a
{
    font-size: 14px;
    line-height: 24px;

    height: auto;

    color: #fff;
}

.top-line__tel .selector .select-blocks .list a:hover
{
    opacity: .71;
}

.top-line__tel .selector .select-blocks .title a span
{
    display: inline-block;

    color: #fff;
    border-color: #fff;
}

.top-line__tel .selector .select-blocks .title a:hover span:first-child
{
    border-color: transparent;
}

.top-line__tel .selector .select-blocks a.act span.arr
{
    border-color: #fff;
}

.top-line__tel a:hover
{
    border-color: transparent;
}

.top-line__tel-list
{
    position: absolute;
    top: 100%;
    left: 50%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);

    border: 10px solid rgba(237, 237, 237, .71);
}

.top-line__cabinet .selector .select-blocks
{
    float: none;
}

.top-line__cabinet .selector
{
    display: inline-block;

    height: 56px;
}

.top-line__cabinet .selector .title a:hover span
{
    border-bottom: none;
}

.top-line__cabinet .selector .title a span
{
    color: #fff;
    border-bottom: none;
    border-bottom: 1px solid #fff;
}

.top-line__cabinet a
{
    color: #fff;
}

.top-line__cabinet
{
    font-size: 12px;
    line-height: 56px; 

    float: right;

    padding: 0 20px;
}

#selectorCabinet
{
    position: relative;
}

.selector .select-blocks .list a
{
    font-size: 14px;
}

#cabinetSettings
{
    line-height: 22px;

    position: absolute;
    z-index: 1000; 
    top: 100%;
    left: -5px;

    display: none;

    padding: 5px;

    border: 5px solid #fff;
    background: #ebebeb;
    -webkit-box-shadow: 0 0 20px -2px #b3b3b3;
            box-shadow: 0 0 20px -2px #b3b3b3;
}

.cabinet__autorize-wrap
{
    position: relative;

    display: none;

    margin-top: 56px;
    padding: 30px 0;

    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 -1px 10px 1px #b3b3b3;
            box-shadow: inset 0 -1px 10px 1px #b3b3b3;
}

.cabinet__autorize-wrap .cabinet__autorize-close .arr
{
    display: inline-block;

    width: 0; 
    height: 0;
    margin-left: 5px;

    -webkit-transition: .5s ease;
         -o-transition: .5s ease;
            transition: .5s ease;
    vertical-align: middle;

    border-top: none;
    border-right: 5px solid transparent !important;
    border-bottom: 6px solid #323232;
    border-left: 5px solid transparent !important;
}

.cabinet__autorize-wrap .cabinet__autorize-close
{
    position: absolute;
    right: 30px;
    bottom: 10px;

    text-decoration: none;

    color: #000; 
    border-bottom: 1px dashed;
}

.cabinet__autorize-wrap .cabinet__autorize-close:hover
{
    opacity: .5;
}

.cabinet__autorize-wrap .wrapper::after
{
    display: table;
    clear: both; 

    content: '';
}

.cabinet__autorize-wrap .cabinet__autorize-ttl
{
    float: left;

    width: 180px;
}

.cabinet__autorize-wrap .form-wrap
{
    float: left;

    width: 410px;
    margin-top: 35px;
    margin-bottom: 0; 
    padding: 0;

    border: none;
}

.cabinet__autorize-wrap.active
{
    display: block;
}

.cabinet__autorize-ttl
{
    font-size: 18px;
}

.form-wrap .selector
{
    margin-bottom: 30px;
}
.form-wrap .selector::after
{
    display: table;
    clear: both; 

    content: '';
}

.form-wrap .selector .select-blocks .list
{
    line-height: 22px;

    position: absolute;
    z-index: 1000; 
    top: 30px;
    left: -5px;

    display: none;

    padding: 5px;

    border: 5px solid #fff;
    background: #ebebeb;
    -webkit-box-shadow: 0 0 20px -2px #b3b3b3;
            box-shadow: 0 0 20px -2px #b3b3b3;
}

.cabinet__autorize-wrap .form-wrap .form-group .form-control
{
    padding: 0 20px;
}

.cabinet__autorize-wrap .form-wrap .reg-form .form-group
{
    display: inline-block;

    width: calc(50% - 14px);
    margin: 0 24px 16px 0;
}

.cabinet__autorize-wrap .form-wrap .reg-form .form-group:nth-child(2)
{
    margin-right: 0;
}

.cabinet__autorize-wrap .form-wrap .reg-form .form-group.form-group--wide
{
    width: 100%;
}

.cabinet__autorize-wrap table
{
    font-size: 12px;
}

.cabinet__autorize-wrap .menu-tb .tr td
{
    width: 25%;
}

.cabinet__autorize-wrap .menu-tb
{
    display: inline-block;

    width: 445px;
    margin-top: 30px; 

    border-collapse: collapse;

    vertical-align: top;
}

.cabinet__autorize-wrap .menu-tb tr
{
    width: 100%;
}

.cabinet__autorize-wrap .menu-tb th,
.cabinet__autorize-wrap .menu-tb td
{
    padding: 5px 25px 5px 0;
}

.cabinet__autorize-wrap .info-tb
{
    display: inline-block;

    margin-top: 80px;
    margin-bottom: 20px;
}

.cabinet__autorize-wrap .info-tb tr th
{
    padding: 5px 50px 0 10px;
}

.cabinet__autorize-wrap .info-tb tr td
{
    padding-top: 5px;
}

.cabinet__autorize-wrap .menu-tb .menu-tb__item td
{
    border-bottom: 1px dashed;
}

.wrapper.top-ill
{
    padding: 0;
}

.cart-form-wrap
{
    margin: 35px 0 50px;
}
.cart-form-wrap::after
{
    display: table;
    clear: both; 

    content: '';
}

.cart-form-wrap .cart-form
{
    width: 50%;
    margin-right: 0;
}

.cart-form-wrap .cart_form
{
    width: 520px;
}

.cart-form-wrap #fieldset-cart dd input[type='text'],
.cart-form-wrap #fieldset-cart dd textarea
{
    line-height: 40px;

    width: 245px;
    height: 40px;

    border-radius: 0; 
    background: #fff;
}

.cart-form-wrap #fieldset-cart dd select
{
    line-height: 40px;

    height: 40px;
    padding: 0 15px; 

    border-radius: 0;
}

.cart-form-wrap #fieldset-cart dd.input-check
{
    float: left; 

    width: 30px;
    height: 40px;
}

.cart-form-wrap #fieldset-cart dt label
{
    line-height: 40px;
}

.cart-form-wrap #fieldset-cart dt.label-check
{
    width: auto;
    height: 40px;
}

.cart-form-wrap #fieldset-cart dt.label-check label
{
    line-height: 16px;
}

.cart-form-wrap #soglashenie_text
{
    font-size: 12px;
    line-height: 18px;

    width: 420px !important;

    text-align: left; 

    background-color: #e2e2e2;
}

.cart-form-wrap #fieldset-cart
{
    padding: 25px 40px;

    border-radius: 30px;
    background: #f0f0f0;
}

.cart-form-wrap #fieldset-cart .save_but
{
    font-size: 24px; 

    border-radius: 0;
}

.cart-form-wrap .cart_table
{
    float: right; 

    width: 320px;
}

.cart-form-wrap .cart_table .cart
{
    padding-bottom: 5px;

    border-bottom: 1px solid;
}

.cart-form-wrap .cart_table .cart_table--border
{
    padding-bottom: 5px; 

    border-bottom: 1px solid;
}

.cart-form-wrap .cart_table .price
{
    font-size: 14px;
    line-height: 24px;
}

.cart-form-wrap .cart_table .formbtns input
{
    width: 40px;
    height: 35px;

    border: none;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.cart-form-wrap .cart_table .formbtns .down,
.cart-form-wrap .cart_table .formbtns .up
{
    position: relative;

    height: 17px; 
    margin-bottom: 2px;
    margin-left: 41px;

    background: #f0f0f0;
}

.cart-form-wrap .cart_table .formbtns .down::before
{
    position: absolute;
    top: 5px;
    left: 4px;

    width: 0;

    content: ''; 

    border: 5px solid transparent;
    border-top: 5px solid #000;
}

.cart-form-wrap .cart_table .formbtns .up::before
{
    position: absolute;
    bottom: 5px;
    left: 4px;

    width: 0;

    content: ''; 

    border: 5px solid transparent;
    border-bottom: 5px solid #000;
}

.cart-form-wrap .cart_table .total_cart_summ .cart-summ
{
    padding: 0;

    text-align: right;
}

.cart-form-wrap .cart_table .total_cart_summ
{
    padding: 50px 0 0 0;

    text-align: left;
}
.cart-form-wrap .cart_table .total_cart_summ::after
{
    display: table;
    clear: both; 

    content: '';
}
.cart-form-wrap .cart_table .total_cart_summ span
{
    float: left; 

    width: 50%;
}

.right-col .filter-holder
{
    position: relative;
}

.right-col .filter-holder input[type='text']
{
    width: calc(100% - 42px);
    margin: 0;

    border: 1px solid #e5e3e3;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.right-col .filter-holder .btn
{
    position: absolute;
    top: 0;
    right: 10px;

    width: 30px;
    padding: 0;

    border: none; 
    background: url('../images/loupe.png') no-repeat center center;
}

.big-title .big-title__filter
{
    font-size: 12px;
    line-height: 24px;

    display: inline-block;
    float: right;

    margin: 8px 2px 0 2px;
    padding: 5px 20px;

    text-decoration: none; 

    opacity: .5;
    color: #000;
}

.big-title
{
    padding-bottom: 0;
}

.big-title .big-title__filter.active
{
    opacity: 1; 
    border-radius: 5px;
    background: #f4f4f4;
}

.catalog-inner.catalog-light
{
    margin: -1px 0 0 0;
    padding-left: 35px;

    border: none;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0;
}

.catalog-inner.catalog-light .img
{
    float: left;
}

.catalog-inner.catalog-light .data
{
    float: right; 

    width: 580px;
    padding: 0;
}

.breadcrumbs
{
    margin: 0; 
    padding: 0;
}

.breadcrumbs li
{
    font-size: 12px;
    line-height: 24px; 

    display: inline-block;
}

.catalog-inner.catalog-light .data table
{
    padding-top: 10px;
}

.catalog-inner.catalog-light .data table tr th
{
    font-weight: normal;

    vertical-align: top;
}

.catalog-inner.catalog-light .data table td,
.catalog-inner.catalog-light .data table th
{
    padding-bottom: 10px;
}

.catalog-inner .data table .liked
{
    padding-left: 0;
}

.catalog-inner .data table .liked .like
{
    font-size: 11px;
    line-height: 24px;

    display: inline-block;

    height: 24px;
    margin-left: 2px;
    padding-left: 25px;

    text-decoration: none;

    color: #7db83f;
    background: url('../images/like.png') no-repeat top left;
}

.catalog-inner table .liked .unlike
{
    font-size: 11px;
    line-height: 24px;

    display: inline-block;

    height: 24px;
    margin-right: 2px;
    padding-right: 25px;

    text-decoration: none;

    color: #b93f3a;
    background: url('../images/unlike.png') no-repeat bottom right;
}

.catalog-inner.catalog-light .data .recall
{
    float: right;
}

.catalog-inner.catalog-light .data .note
{
    padding: 20px 0 0 0;
}

.right-block.fixed
{
    position: fixed;
    top: 100px;
}

.catalog-inner.big.show_cat.catalog-inner--light
{
    margin-bottom: 0; 
    padding: 30px 20px 0 20px;

    border: none;
    border-radius: 0;
    background: #f7f7f7;
}

.catalog-inner.big.show_cat.catalog-inner--light .img
{
    width: 180px;
}

.catalog-inner.big.show_cat.catalog-inner--light .img .work-time
{
    margin-top: 30px;
}

.catalog-inner.big.show_cat.catalog-inner--light .img .work-time img
{
    width: 20px;
    margin-right: 10px; 

    vertical-align: middle;

    opacity: .3;
}

.catalog-inner.big.show_cat.catalog-inner--light .img .work-time span
{
    font-size: 14px; 

    display: inline-block;
}

.catalog-inner.big.show_cat.catalog-inner--light .data
{
    width: 380px;
    padding-left: 20px;
}

.catalog-inner.big.show_cat.catalog-inner--light .data .big-title.show_cat
{
    margin: 0 0 55px 0;
}

.catalog-inner.big.show_cat.catalog-inner--light .data .big-title.show_cat .title
{
    font-size: 36px;
    line-height: 38px;

    text-transform: uppercase;
}

.catalog-inner.big.show_cat.catalog-inner--light .gallery
{
    float: right;

    width: 320px;
    margin-right: -10px;
}

.catalog-inner.big.show_cat.catalog-inner--light .gallery a
{
    display: inline-block;

    margin: 5px;
}

.catalog-inner.big.show_cat.catalog-inner--light .data table th
{
    font-size: 11px;

    padding-top: 20px;
    padding-bottom: 15px;

    vertical-align: top;
}

.catalog-inner.big.show_cat.catalog-inner--light .data .tabs
{
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;

    text-align: center;
}

.catalog-inner.big.show_cat.catalog-inner--light .data .tabs li
{
    line-height: 40px;

    display: inline-block;

    height: 40px;

    cursor: pointer;
}

.catalog-inner.big.show_cat.catalog-inner--light .data .tabs li .tabs-btn
{
    padding: 0 5px;
}

.catalog-inner.big.show_cat.catalog-inner--light .data .tabs li .tabs-btn.act
{
    background: #fff;
}

.catalog-inner.big.show_cat.catalog-inner--light .data table td
{
    font-size: 12px;
    font-weight: bold;
}

.catalog-inner.big.show_cat.catalog-inner--light .data table th:last-child,
.catalog-inner.big.show_cat.catalog-inner--light .data table td:last-child
{
    width: 30%; 
    padding-left: 0;
}

.show_cat.grey-block--light
{
    margin-top: 0;
}

.show_cat.grey-block--light .wrapper
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    padding: 0;
}

.show_cat.grey-block--light .tabs-wrap
{
    position: relative;

    background: #f7f7f7;
}
.show_cat.grey-block--light .tabs-wrap::after
{
    display: table;
    clear: both; 

    content: '';
}

.comments.recall-wrap #fieldset-group_0
{
    padding: 20px 35px 35px 35px;

    border-radius: 30px;
}

.comments.recall-wrap form textarea,
.comments.recall-wrap form input
{
    width: calc(100% - 20px); 
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.comments.recall-wrap .captcha .save_but
{
    font-size: 18px;
    line-height: 40px;

    display: inline-block;

    width: 196px;
    height: 40px;

    vertical-align: middle; 

    border-radius: 0;
}

.comments.recall-wrap form .com_fio
{
    display: inline-block;

    width: 370px;
}

.comments.recall-wrap .captcha
{
    margin-top: 20px;
}

.comments.recall-wrap .captcha img
{
    height: 40px;

    vertical-align: middle; 

    border-radius: 0;
}

.comments.recall-wrap .captcha input
{
    line-height: 40px;

    height: 40px;

    vertical-align: baseline;
}

.comments.recall-wrap form input[type='text'],
.comments.recall-wrap form textarea,
.comments.recall-wrap #captcha-input
{
    border: 0;
    border-radius: 0;
    background: #fff;
}

.comments.recall-wrap form input[type='radio']
{
    width: auto;
    margin-left: 25px;

    vertical-align: bottom;
}

.comments.recall-wrap form dd#user_fio-element
{
    display: inline-block;
}

.comments.recall-wrap form dd#user_mark-element
{
    display: inline-block; 

    width: 450px;
}

.comments.recall-wrap form dd#user_mark-element
{
    vertical-align: middle;
}

.comments.recall-wrap form dd#user_mark-element .like::before
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 20px;
    height: 20px;

    content: '';

    background: url('../images/like.png') left bottom no-repeat;
}

.comments.recall-wrap form dd#user_mark-element .unlike::before
{
    position: absolute;
    top: -1px;
    left: 0;

    display: block;

    width: 20px;
    height: 20px;

    content: '';

    background: url('../images/unlike.png') left bottom no-repeat;
}

.comments.recall-wrap form dd#user_mark-element .none-like::before
{
    position: absolute;
    bottom: -2px;
    left: 0;

    display: block;

    width: 20px;
    height: 20px;

    content: '';

    background: url('../images/user.png') left center no-repeat;
}

.comments.recall-wrap form dd#user_mark-element label
{
    font-size: 12px;
    line-height: 12px;

    position: relative;

    display: inline-block;

    height: 12px;
    padding-left: 25px;

    vertical-align: bottom;
}

.comments.recall-wrap input::-webkit-input-placeholder
{
    font-size: 12px;

    color: #000;
}

.comments.recall-wrap input:-ms-input-placeholder
{
    font-size: 12px;

    color: #000;
}

.comments.recall-wrap input:-moz-placeholder
{
    font-size: 12px;

    color: #000;
}

.comments.recall-wrap textarea:-moz-placeholder
{
    font-size: 12px;

    color: #000;
}

.comments.recall-wrap textarea::-webkit-input-placeholder
{
    font-size: 12px;

    color: #000;
}

.comments.recall-wrap textarea:-ms-input-placeholder
{
    font-size: 12px;

    color: #000;
}

.comments.recall-wrap form textarea
{
    padding-top: 15px;
}

.comments.recall-wrap h2
{
    font-size: 18px; 

    margin: 35px 0 5px;
}

.comments.recall-wrap .comments_filter ul li:first-child
{
    padding-left: 0;
}

.comments.recall-wrap .comments_filter ul li
{
    font-size: 12px;

    display: inline-block;

    padding: 0 7px;
}

.comments.recall-wrap .comments_filter ul li a
{
    text-decoration: none;

    color: #000; 
    border-bottom: 1px dashed;
}

.comments.recall-wrap .comments_filter ul li a.active
{
    border-bottom: none;
}

.commentItem.commentItem--light
{
    position: relative;

    overflow: hidden;

    margin: 0;
    padding: 20px 0 30px;

    border-bottom: 1px solid  #d1d1d1;
    background: none;
    background: #fff;
}

.commentItem.commentItem--light .name-comment
{
    float: none;

    width: 100%;
}

.commentItem.commentItem--light .name-comment time
{
    font-size: 11px;
    line-height: 18px;

    padding-left: 5px;

    color: #b6b6b6;
}

.commentItem.commentItem--light .text-comment
{
    margin: 20px 0;
}

.commentItem.commentItem--light .name-comment .user-like
{
    display: inline-block;

    width: 20px;
    height: 20px;
    padding-right: 15px;

    background: url('../images/like.png') left bottom no-repeat;
}

.commentItem.commentItem--light .name-comment .admin
{
    display: inline-block;

    width: 20px;
    height: 20px;
    padding-right: 15px;

    background: url('../images/user.png') left bottom no-repeat;
}

.commentItem.commentItem--light .rating
{
    position: absolute;
    right: 0;
    bottom: 15px;

    width: auto;
    margin: 0;
}

.commentItem.commentItem--light .rating input
{
    width: 30px;
    height: 18px;
    padding: 0 !important;

    text-align: center; 

    border: 0;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.commentItem.commentItem--light .rating button
{
    width: 18px;
    height: 18px;
    padding: 0;

    color: #b2b2b2;
    border: 0;
    border-radius: 4px;
    outline: 0;
    background-color: #f7f7f7; 
    -webkit-box-shadow: none;
            box-shadow: none;
}

.commentItem.commentItem--light.commentAdmin
{
    margin-top: -1px; 
    padding-left: 90px;
}

/*# sourceMappingURL=globalNew.css.map */
