ul.main-menu
    li(style='')
        a(href='http://mariupol.emdoma.com.ua/catalog?sections[]=63')
            span.img
                img(src='http://mariupol.emdoma.com.ua/upload/catalog_sections/images/s_menu-11381483156.png')
            span.text Пиццерии
    li(style='')
        a(href='http://mariupol.emdoma.com.ua/catalog?sections[]=62')
            span.img
                img(src='http://mariupol.emdoma.com.ua/upload/catalog_sections/images/s_menu-41381483115.png')
            span.text Рестораны
    li(style='')
        a(href='http://mariupol.emdoma.com.ua/catalog?sections[]=73')
            span.img
                img(src='http://mariupol.emdoma.com.ua/upload/catalog_sections/images/s_menu-31381483181.png')
            span.text Фастфуды
    li(style='')
        a(href='http://mariupol.emdoma.com.ua/catalog?sections[]=74')
            span.img
                img(src='http://mariupol.emdoma.com.ua/upload/catalog_sections/images/s_menu-21381483207.png')
            span.text Суши-бары
    li(style='')
        a(href='http://mariupol.emdoma.com.ua/catalog?sections[]=75')
            span.img
                img(src='http://mariupol.emdoma.com.ua/upload/catalog_sections/images/s_menu-51381487396.png')
            span.text Кафе
    div(style='clear: both;')
    li(style='margin-left: 0px;')
        a(href='http://mariupol.emdoma.com.ua/catalog?sections[]=76')
            span.img
                img(src='http://mariupol.emdoma.com.ua/upload/catalog_sections/images/s_ekonom1413887619.png')
            span.text Эконом
    li(style='')
        a(href='http://mariupol.emdoma.com.ua/catalog?sections[]=80')
            span.img
                img(src='http://mariupol.emdoma.com.ua/upload/catalog_sections/images/s_81413887248.png')
            span.text Шашлыки
    li(style='')
        a(href='http://mariupol.emdoma.com.ua/catalog?sections[]=81')
            span.img
                img(src='http://mariupol.emdoma.com.ua/upload/catalog_sections/images/s_cheburek1413887267.png')
            span.text Чебуреки
    li(style='')
        a(href='http://mariupol.emdoma.com.ua/dostavka-productov')
            span.img
                img(src='http://mariupol.emdoma.com.ua/images/product.png')
            span.text Доставка продуктов
    li(style='display:none;')
        a(href='http://mariupol.emdoma.com.ua/dostavka-cvetov')
            span.img
                img(src='http://mariupol.emdoma.com.ua/images/cvet.png')
            span.text Доставка цветов
    li(style='')
        a.act(href='http://mariupol.emdoma.com.ua/catalog')
            span.img
                img(src='http://mariupol.emdoma.com.ua/img/menu-6.png')
            span.text Все заведения
