.header
  a.logo(href='javascript:void(0)')
    img(title='Emdoma - доставка из пиццерий, ресторанов, фастфудов и суши-баров', src='http://mariupol.emdoma.com.ua/img/logo.png')
  ul.menu
    noindex
      li
        a(rel='nofollow', href='http://mariupol.emdoma.com.ua/catalog') Заведения
        span 52
      li
        a(rel='nofollow', href='http://mariupol.emdoma.com.ua/delivery') Доставка
      li
        a(rel='nofollow', href='http://mariupol.emdoma.com.ua/comments') Отзывы
        span
  .social
    a(href='http://www.facebook.com/emdoma')
      img(style='border-radius: 50px;', width='40', height='40', src='http://mariupol.emdoma.com.ua/upload/banners_articles/images/s_fb-ico1385724816.png')
    a(href='http://vk.com/pizza1')
      img(style='border-radius: 50px;', width='40', height='40', src='http://mariupol.emdoma.com.ua/upload/banners_articles/images/s_unnamed1389263545.png')
  // Выбор городов городов
  // Выбор городов городов
  // Выбор городов городов
  #selector.selector
    .select-blocks
      .title
        a(href='javascript: void(0)', onclick="$('#city').slideToggle('normal');\
        $(this).toggleClass('act');\
        return false;")
          span
            | Мариуполь
          span.arr
      #city.list(style='display: none;')
        noindex
          form.city-all
            img(src='http://mariupol.emdoma.com.ua/img/popupArr-gray.png', alt='')
            // Если город задан выводить Все
            a(rel='nofollow', href='http://mariupol.emdoma.com.ua', id='city[]', name='city[]', value='88', onclick='setCity(88);') Мариуполь
            a(rel='nofollow', href='http://kp.emdoma.com.ua', id='city[]', name='city[]', value='98', onclick='setCity(98);') Каменец-Подольский
            a(rel='nofollow', href='http://krivoy-rog.emdoma.com.ua', id='city[]', name='city[]', value='101', onclick='setCity(101);') Кривой Рог
            a(rel='nofollow', href='http://chernivtsi.emdoma.com.ua', id='city[]', name='city[]', value='100', onclick='setCity(100);') Черновцы
    .select-blocks
      .title
        a#region_new(href='javascript: void(0)', onclick="$('#region').slideToggle('normal');\
        $(this).toggleClass('act');\
        return false;")
          span#set_region
            | Центральный (ст. Жовтневый)
          span.arr
      #region.list(style='display: none;')
        form.region-all
          img(src='http://mariupol.emdoma.com.ua/img/popupArr-gray.png', alt='')
          a(href='javascript: void(0)', id='region[]', name='region[]', value='121', onclick="setRegion({'region_id':121, 'region_title': 'Центральный (ст. Жовтневый)'});") Центральный (ст. Жовтневый)
          a(href='javascript: void(0)', id='region[]', name='region[]', value='122', onclick="setRegion({'region_id':122, 'region_title': '17, 20, 23 мкр Центрального'});") 17, 20, 23 мкр Центрального
          a(href='javascript: void(0)', id='region[]', name='region[]', value='123', onclick="setRegion({'region_id':123, 'region_title': 'Приморский'});") Приморский
          a(href='javascript: void(0)', id='region[]', name='region[]', value='126', onclick="setRegion({'region_id':126, 'region_title': 'Черемушки, поселок Моряков'});") Черемушки, поселок Моряков
          a(href='javascript: void(0)', id='region[]', name='region[]', value='127', onclick="setRegion({'region_id':127, 'region_title': 'Кальмиусский (ближний) (ст. Ильичевский)'});") Кальмиусский (ближний) (ст. Ильичевский)
          a(href='javascript: void(0)', id='region[]', name='region[]', value='163', onclick="setRegion({'region_id':163, 'region_title': 'Левобережный, дальний Кальмиусский'});") Левобережный, дальний Кальмиусский
  // Выбор городов городов
  // Выбор городов городов
  // Выбор городов городов
  // Выбор городов городов
  .select-language
    .select-blocks
      .title
        a#language_new(href='javascript: void(0)', onclick="$('#language').slideToggle('normal');\
        $(this).toggleClass('act');\
        return false;")
          span#set_language RU
          span.arr
      #language.list(style='border-radius: 10px; left: -29px; display: none;')
        form.language-all
          img(style='', src='http://mariupol.emdoma.com.ua/img/popupArr-gray.png', alt='')
          a(value='ru', href='javascript:void(0)') Русский
          a(value='ua', href='http://mariupol.emdoma.com.ua/ua/') Українська

  #stl_left.fixed.stl_active(style='display: none;')
    #stl_bg
      nobr#stl_text Наверх
