.top-line
    .wrapper
        .top-line__tel Сделать заказ
            .selector
                .select-blocks
                    .title
                        a(href='javascript: void(0)', onclick="$('#tel').slideToggle('normal'); $(this).toggleClass('act'); return false;")
                            span +38 (097) 47-37-566
                            span.arr
                    #tel.list
                        noindex
                            form.tel-all
                                // Если город задан выводить Все
                                a(rel='nofollow', href='tel:+380974737566') +38 (097) 47-37-566
                                a(rel='nofollow', href='tel:+380974737566') +38 (097) 47-37-566
                                a(rel='nofollow', href='tel:+380974737566') +38 (097) 47-37-566
                                a(rel='nofollow', href='tel:+380974737566') +38 (097) 47-37-566
        .cart-wrapper
            a.button-cart(href='javascript:void(0)', style='height: 56px;')
                span.cart-count Заказов нет
            .cart-popup(style='')
                .prodScroll(style='overflow: hidden; padding: 0px; height: 325px; width: 300px;')
                    .jspContainer(style='width: 300px; height: 325px;')
                        .jspPane(style='padding: 0px; top: 0px; width: 300px;')
                            .vid-header-cart Салаты
                            .cart-popup-prod.del_7294_prices7977.box_1
                                a.top-close(href='javascript:void(0);', onclick="$('.del_7294_prices7977').remove(); $.McCart.removeProduct({'key':'7294_prices_7977', 'id':'7294'}, true);")
                                span.title(style='color: black') Рандеву - 250 г
                                p.price 114 грн.
                                .formbtns
                                    input.noOfProd_7294_prices7977.inp.product-count.product-countid_7294_prices7977(type='text', value='5')
                                    a.up.pop(href='javascript:void(0);', onclick="$.McCart.plusProduct({'key':'7294_prices_7977', 'id':'7294'});")
                                    a.down.pop(href='javascript:void(0);', onclick="$.McCart.minusProduct({'key':'7294_prices_7977', 'id':'7294'});")
                                // /.formbtns
                .allSum(style='font-size: 15px;')
                    span Доставка
                    span
                        span.delivery(style='padding-left: 0; text-align: right;') 45 грн.
                .allSum
                    span Итого
                    span
                        span.cart-summ(style='padding-left: 0; text-align: right;') 615 грн
                a.button-buy(href='http://mariupol.emdoma.com.ua/cart') Оформить заказ
        .top-line__cabinet
            a#authToggle(href='#' rel='nofollow') Вход
            span  /
            a(href='#' rel='nofollow') Регистрация
        .addToCartPopup
            img(src='http://mariupol.emdoma.com.ua/img/popupArr-yellow.png', alt='')
            .inner Добавлено в корзину
