- var pageTitle = "Корзина - EmDoma - служба доставки еды";

doctype html
html(lang='ru')
    include components/head/head

    body
        .page
            .cover
                include components/header/headerAutorize
                .wrapper.top-ill
                    include components/header/topLineAuth

                    .wrapper.top-ill
                        include components/header/header
                        style.
                            .filter-holder input[type="text"] {
                                margin-right: 16px;
                                width: 730px;
                            }

                            input[type="text"] {
                                background: none repeat scroll 0 0 #FFFFFF;
                            }
                        .cols-holder
                            .left-col
                                .big-title
                                    .title Рестораны
                                    a.big-title__filter(href='#' rel='nofollow') Все
                                    a.big-title__filter.active(href='#' rel='nofollow') Открытые
                                // ***********************************************************РЕДИРЕКТ  РЕДИРЕКТ
                                .catalog-inner.catalog-light(style='cursor: pointer;', onclick="document.location.href = 'http://mariupol.emdoma.com.ua/piknik';")
                                    .img
                                        a(href='http://mariupol.emdoma.com.ua/piknik')
                                            img(width='125px', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_logo_136860158231387493286.png')
                                    .data
                                        a.title(href='http://mariupol.emdoma.com.ua/piknik') Пикник
                                        ul.breadcrumbs
                                            li Кухня:
                                            li европейская/
                                            li итальянская/
                                            li американская
                                        table(cellpadding='0', cellspacing='0', border='0')
                                            tr
                                                th Стоимость доставки
                                                th Время доставки
                                                th Минимальный заказ
                                                th Заказ  столика
                                                th Самовывоз
                                                th Рейтинг
                                            tr
                                                td 35 грн
                                                td 15 мин
                                                td 0 грн
                                                td есть
                                                td нет
                                                td.liked
                                                    a.unlike(href='#' rel='nofollow') 15
                                                    a.like(href='#' rel='nofollow') 125
                                        a.recall(href='#' rel='nofollow') Отзывов (#[span 25])
                                        .note(style=' display: inline-block; margin-bottom: 5px; ') Сезонные новинки в меню
                                // ***********************************************************РЕДИРЕКТ  РЕДИРЕКТ
                                .catalog-inner.catalog-light(style='cursor: pointer;', onclick="document.location.href = 'http://mariupol.emdoma.com.ua/piknik';")
                                    .img
                                        a(href='http://mariupol.emdoma.com.ua/piknik')
                                            img(width='125px', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_542621423135253.jpg')
                                    .data
                                        a.title(href='http://mariupol.emdoma.com.ua/piknik') Пикник
                                        ul.breadcrumbs
                                            li Кухня:
                                            li европейская/
                                            li итальянская/
                                            li американская
                                        table(cellpadding='0', cellspacing='0', border='0')
                                            tr
                                                th Стоимость доставки
                                                th Время доставки
                                                th Минимальный заказ
                                                th Заказ  столика
                                                th Самовывоз
                                                th Рейтинг
                                            tr
                                                td 35 грн
                                                td 15 мин
                                                td 0 грн
                                                td есть
                                                td нет
                                                td.liked
                                                    a.unlike(href='#' rel='nofollow') 15
                                                    a.like(href='#' rel='nofollow') 125
                                        a.recall(href='#' rel='nofollow') Отзывов (#[span 25])
                                        .note(style='display: inline-block;  margin-bottom: 5px; padding: 5px 0; ') Сезонные новинки в меню


                                // ***********************************************************РЕДИРЕКТ  РЕДИРЕКТ
                                .catalog-inner.catalog-light(style='cursor: pointer;', onclick="document.location.href = 'http://mariupol.emdoma.com.ua/piknik';")
                                    .img
                                        a(href='http://mariupol.emdoma.com.ua/piknik')
                                            img(width='125px', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_logo_136860158231387493286.png')
                                    .data
                                        a.title(href='http://mariupol.emdoma.com.ua/piknik') Пикник
                                        ul.breadcrumbs
                                            li Кухня:
                                            li европейская/
                                            li итальянская/
                                            li американская
                                        table(cellpadding='0', cellspacing='0', border='0')
                                            tr
                                                th Стоимость доставки
                                                th Время доставки
                                                th Минимальный заказ
                                                th Заказ  столика
                                                th Самовывоз
                                                th Рейтинг
                                            tr
                                                td 35 грн
                                                td 15 мин
                                                td 0 грн
                                                td есть
                                                td нет
                                                td.liked
                                                    a.unlike(href='#' rel='nofollow') 15
                                                    a.like(href='#' rel='nofollow') 125
                                        a.recall(href='#' rel='nofollow') Отзывов (#[span 25])
                                        .note(style=' display: inline-block; margin-bottom: 5px; ') Сезонные новинки в меню
                                // ***********************************************************РЕДИРЕКТ  РЕДИРЕКТ
                                .catalog-inner.catalog-light(style='cursor: pointer;', onclick="document.location.href = 'http://mariupol.emdoma.com.ua/piknik';")
                                    .img
                                        a(href='http://mariupol.emdoma.com.ua/piknik')
                                            img(width='125px', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_542621423135253.jpg')
                                    .data
                                        a.title(href='http://mariupol.emdoma.com.ua/piknik') Пикник
                                        ul.breadcrumbs
                                            li Кухня:
                                            li европейская/
                                            li итальянская/
                                            li американская
                                        table(cellpadding='0', cellspacing='0', border='0')
                                            tr
                                                th Стоимость доставки
                                                th Время доставки
                                                th Минимальный заказ
                                                th Заказ  столика
                                                th Самовывоз
                                                th Рейтинг
                                            tr
                                                td 35 грн
                                                td 15 мин
                                                td 0 грн
                                                td есть
                                                td нет
                                                td.liked
                                                    a.unlike(href='#' rel='nofollow') 15
                                                    a.like(href='#' rel='nofollow') 125
                                        a.recall(href='#' rel='nofollow') Отзывов (#[span 25])
                                        .note(style='display: inline-block;  margin-bottom: 5px; padding: 5px 0; ') Сезонные новинки в меню
                            .right-col
                                .filter-holder
                                    form(action='http://mariupol.emdoma.com.ua/catalog/search', method='POST')
                                        input#main-search.search-input(type='text', name='search', placeholder='Поиск')
                                        input.btn(value='', type='submit')
                                form.choose_form
                                    .right-block
                                        .big-title(style='padding: 0px 0 0 0;')
                                            .title(style='font-size: 19px;') Основное
                                        ul.side-menu
                                            li
                                                input#date_all(name='date', checked='checked', value='1', type='radio', onclick='submit()')
                                                label Все
                                            li
                                                input#date(name='date', value='2', type='radio', onclick='submit()')
                                                label Открытые
                                        .big-title(style='padding: 20px 0 0 0;')
                                            .title(style='font-size: 19px;') Тип
                                        ul.side-menu
                                            // <li><input type="checkbox" onclick="submit()" name="all" value="all" /><label>Все заведения</label></li>
                                            li
                                                input(id='sections[]', name='sections[]', value='62', type='radio', onclick='submit()')
                                                label Рестораны
                                            li
                                                input(id='sections[]', name='sections[]', value='63', type='radio', onclick='submit()')
                                                label Пиццерии
                                            li
                                                input(id='sections[]', name='sections[]', value='73', type='radio', onclick='submit()')
                                                label Фастфуды
                                            li
                                                input(id='sections[]', name='sections[]', value='74', type='radio', onclick='submit()')
                                                label Суши-бары
                                            li
                                                input(id='sections[]', name='sections[]', value='75', type='radio', onclick='submit()')
                                                label Кафе
                                            li
                                                input(id='sections[]', name='sections[]', value='80', type='radio', onclick='submit()')
                                                label Шашлыки
                                            li
                                                input(id='sections[]', name='sections[]', value='81', type='radio', onclick='submit()')
                                                label Чебуреки
                                            li
                                                input(id='sections[]', name='sections[]', value='76', type='radio', onclick='submit()')
                                                label Эконом
                                            //
                                              <li><input id="sections[]" name="sections[]" value="1" type="checkbox" onClick="submit()" /><label>Суши-бары</label></li>
                                              <li><input id="sections[]" name="sections[]" value="1" type="checkbox" onClick="submit()" /><label>Фастфуды</label></li>
                                              <li><input id="sections[]" name="sections[]" value="1" type="checkbox" onClick="submit()" /><label>Рестораны</label></li>
                                              <li><input id="sections[]" name="sections[]" value="1" type="checkbox" onClick="submit()" /><label>Кондитерские</label></li>
                                        .big-title(style='padding: 20px 0 0 0;')
                                            .title(style='font-size: 19px;') Критерии
                                        ul.side-menu
                                            li
                                                input#action(name='act', value='actions', type='radio', onclick='submit()')
                                                label Акции
                                            li
                                                input#sale(name='act', value='sale', type='radio', onclick='submit()')
                                                label Бесплатная доставка
                                        .big-title(style='padding: 20px 0 0 0;')
                                            .title(style='font-size: 19px;') Кухня
                                        ul.side-menu
                                            li
                                                input(id='kitchen[]', name='kitchen[]', value='104', type='radio', onclick='submit()')
                                                label Восточная
                                            li
                                                input(id='kitchen[]', name='kitchen[]', value='103', type='radio', onclick='submit()')
                                                label Кавказская
                                            li
                                                input(id='kitchen[]', name='kitchen[]', value='102', type='radio', onclick='submit()')
                                                label Арабская
                                            li
                                                input(id='kitchen[]', name='kitchen[]', value='99', type='radio', onclick='submit()')
                                                label Греческая
                                            li
                                                input(id='kitchen[]', name='kitchen[]', value='97', type='radio', onclick='submit()')
                                                label Грузинская
                                            li
                                                input(id='kitchen[]', name='kitchen[]', value='100', type='radio', onclick='submit()')
                                                label Немецкая
                                            li
                                                input(id='kitchen[]', name='kitchen[]', value='98', type='radio', onclick='submit()')
                                                label Китайская
                                            li
                                                input(id='kitchen[]', name='kitchen[]', value='101', type='radio', onclick='submit()')
                                                label Украинская
                                            li
                                                input(id='kitchen[]', name='kitchen[]', value='96', type='radio', onclick='submit()')
                                                label Американская
                                            li
                                                input(id='kitchen[]', name='kitchen[]', value='95', type='radio', onclick='submit()')
                                                label Японская
                                            li
                                                input(id='kitchen[]', name='kitchen[]', value='93', type='radio', onclick='submit()')
                                                label Европейская
        include components/footer/footer
        include components/scripts/scripts