- var pageTitle = "Корзина - EmDoma - служба доставки еды";

doctype html
html(lang='ru')
    include components/head/head
    body.active
        .page
            .cover
                .wrapper.top-ill
                    include components/header/topLine
                    include components/header/header
                    include components/indexMenu/indexMenu
                    include components/forms/forms
                    include components/popular/popular
                    include components/popupForms/popupForms
        include components/footer/footer

        include components/scripts/scripts




