- var pageTitle = "Корзина - EmDoma - служба доставки еды";

doctype html
html(lang='ru')
    include components/head/head
    body
        .page
            .cover
                include components/header/headerAutorize
                .wrapper.top-ill
                    include components/header/topLineAuth
                    include components/header/header
                    include components/indexMenu/indexMenu
                    include components/forms/forms
                    include components/popular/popular
        include components/footer/footer

        include components/scripts/scripts




