.top-line__tel
  float: left
  font-size: 22px
  line-height: 56px
  text-transform: uppercase

.top-line__tel a
  position: relative
  display: inline-block
  margin-left: 10px
  font-size: 18px
  line-height: 20px
  margin-top: -5px
  text-decoration: none
  border-bottom: 1px dashed
  vertical-align: middle
  color: #FFFFFF

.top-line__tel a:hover
  border-color: transparent

.top-line__cabinet a
  color: #fff

.top-line__tel a span
  position: absolute
  right: -20px
  top: 50%
  transform: translate(-50%)
  border-bottom: none
  border-left: 5px solid transparent !important
  border-right: 5px solid transparent !important
  border-top: 6px solid #FFFFFF
  display: inline-block
  height: 0
  margin-left: 5px
  transition: 0.5s ease
  vertical-align: middle
  width: 0

.top-line__cabinet
  float: right
  padding: 0 20px
  font-size: 12px
  line-height: 56px
  