.top-line__tel
  position: relative
  float: left
  max-width: 395px
  height: 56px
  text-overflow: ellipsis
  font-size: 22px
  line-height: 56px
  text-transform: uppercase

.top-line__tel .selector
  position: relative
  display: inline-block

  margin-left: 10px
  font-size: 18px
  line-height: 20px
  margin-top: -5px
  text-decoration: none
  vertical-align: middle

.top-line__tel .selector .select-blocks .list
  position: absolute
  top: 100%
  margin-top: 2px
  padding: 0
  border: 10px solid rgba(#ededed, .71)
  box-shadow: none
  background-color: transparent

.top-line__tel .selector .select-blocks .list .tel-all
  padding: 15px 20px
  background: #ffb900

.top-line__tel .selector .select-blocks .list a span
  color: #FFFFFF

.top-line__tel .selector .select-blocks .list a
  height: auto
  font-size: 14px
  line-height: 24px
  color: #FFFFFF

.top-line__tel .selector .select-blocks .list a:hover
  opacity: .71

.top-line__tel .selector .select-blocks .title a span
  display: inline-block
  color: #FFFFFF
  border-color: #FFFFFF

.top-line__tel .selector .select-blocks .title a:hover span:first-child
  border-color: transparent

.top-line__tel .selector .select-blocks a.act span.arr
  border-color: #FFFFFF

.top-line__tel a:hover
  border-color: transparent

.top-line__tel-list
  position: absolute
  top: 100%
  left: 50%
  transform: translateX(-50%)
  border: 10px solid rgba(#ededed, .71)

.top-line__cabinet .selector .select-blocks
  float: none
  padding: 0

.top-line__cabinet .selector
  display: inline-block

.top-line__cabinet .selector .title a:hover span
  border-bottom: none

.top-line__cabinet .selector .title a span
  border-bottom: none
  color: #FFFFFF
  border-bottom: 1px solid #fff

.top-line__cabinet a
  color: #fff

.top-line__cabinet > span
  padding-right: 4px

.top-line__cabinet
  display: flex
  align-items: center
  flex-wrap: wrap
  float: right
  height: 56px
  padding: 0 20px 0 0
  font-size: 12px
  line-height: 16px
  width: 200px

#selectorCabinet
  position: relative

.selector .select-blocks .list a
  font-size: 14px

#cabinetSettings
  position: absolute
  top: calc(100% + 18px)
  background: #ebebeb
  border: 5px solid #ffffff
  box-shadow: 0 0 20px -2px #B3B3B3
  display: none
  left: -5px
  line-height: 22px
  padding: 5px
  z-index: 1000