div(id='')
    .big-title
        .title Популярные заведения
        .sub-menu.tabs-nav
            //
              <a><img src="http://mariupol.emdoma.com.ua/img/icon005_black.png" /></a>
              <a><img src="http://mariupol.emdoma.com.ua/img/icon005_wellow.png" /></a>
              <a><img src="http://mariupol.emdoma.com.ua/img/icon001_black.png" /></a>
              <a><img src="http://mariupol.emdoma.com.ua/img/icon001_wellow.png" /></a>
              <a><img src="http://mariupol.emdoma.com.ua/img/icon002_black.png" /></a>
              <a><img src="http://mariupol.emdoma.com.ua/img/icon002_wellow.png" /></a>
              <a><img src="http://mariupol.emdoma.com.ua/img/icon003_black.png" /></a>
              <a><img src="http://mariupol.emdoma.com.ua/img/icon003_wellow.png" /></a>
              <a><img src="http://mariupol.emdoma.com.ua/img/icon004_black.png" /></a>
              <a><img src="http://mariupol.emdoma.com.ua/img/icon004_wellow.png" /></a>
            a#tab3.tab3.act(title='Пицерии', href='javascript:void(0)')
            a#tab1.tab1(title='Рестораны', href='javascript:void(0)')
            a#tab4.tab4(title='Фаст-фуды', href='javascript:void(0)')
            a#tab2.tab2(title='Суши-бары', href='javascript:void(0)')
            // <a class="tab5" id="tab5" href="javascript:void(0)"></a>
    .tabs-wrap
        table#con_tab1.dot-table.act(cellpadding='0', cellspacing='0', width='100%')
            tbody
                tr
                    td
                        a(title='Старый Маяк', href='http://mariupol.emdoma.com.ua/mayak')
                            img(style='max-height: 100px; max-width: 100px;', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_bez_imeni3_1386248500911387665237.png')
                    td
                        a(title='Старый Маяк', href='http://mariupol.emdoma.com.ua/mayak') Старый Маяк
                    td Ресторан
                    td Европейская кухня
                    td
                        | Отзывов:
                        a(href='http://mariupol.emdoma.com.ua/mayak#disqus_thread')
                            | 1
                tr
                    td
                        a(title='Пикник', href='http://mariupol.emdoma.com.ua/piknik')
                            img(style='max-height: 100px; max-width: 100px;', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_logo_136860158231387493286.png')
                    td
                        a(title='Пикник', href='http://mariupol.emdoma.com.ua/piknik') Пикник
                    td Ресторан
                    td Европейская кухня
                    td
                        | Отзывов:
                        a(href='http://mariupol.emdoma.com.ua/piknik#disqus_thread')
                            | 11
                tr
                    td
                        a(title='Мафия', href='http://mariupol.emdoma.com.ua/mafia')
                            img(style='max-height: 100px; max-width: 100px;', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_mafia1453996562.jpg')
                    td
                        a(title='Мафия', href='http://mariupol.emdoma.com.ua/mafia') Мафия
                    td Ресторан
                    td Европейская кухня
                    td
                        | Отзывов:
                        a(href='http://mariupol.emdoma.com.ua/mafia#disqus_thread')
                            | 3
                tr
                    td
                        a(title='BBQ City', href='http://mariupol.emdoma.com.ua/bbq-city')
                            img(style='max-height: 100px; max-width: 100px;', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_542621423135253.jpg')
                    td
                        a(title='BBQ City', href='http://mariupol.emdoma.com.ua/bbq-city') BBQ City
                    td Ресторан
                    td Европейская кухня
                    td
                        | Отзывов:
                        a(href='http://mariupol.emdoma.com.ua/bbq-city#disqus_thread')
                            | 14
        table#con_tab2.dot-table(cellpadding='0', cellspacing='0', width='100%')
            tbody
                tr
                    td
                        a(title='Okinawa', href='http://mariupol.emdoma.com.ua/okinawa')
                            img(style='max-height: 100px; max-width: 100px;', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_45431359640064.jpg')
                    td
                        a(title='Okinawa', href='http://mariupol.emdoma.com.ua/okinawa') Okinawa
                    td Суши-бар
                    td Японская кухня
                    td
                        | Отзывов:
                        a(href='http://mariupol.emdoma.com.ua/okinawa#disqus_thread')           13
        table#con_tab3.dot-table(cellpadding='0', cellspacing='0', width='100%', style='display: table;')
            tbody
                tr
                    td
                        a(title='Mamma Mia', href='http://mariupol.emdoma.com.ua/mamma-mia')
                            img(style='max-height: 100px; max-width: 100px;', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s__miia1359381679.jpg')
                    td
                        a(title='Mamma Mia', href='http://mariupol.emdoma.com.ua/mamma-mia') Mamma Mia
                    td Пиццерия
                    td Европейская кухня
                    td
                        | Отзывов:
                        a(href='http://mariupol.emdoma.com.ua/mamma-mia#thread')          14
                tr
                    td
                        a(title='Royal', href='http://mariupol.emdoma.com.ua/royal')
                            img(style='max-height: 100px; max-width: 100px;', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_1359446874.jpg')
                    td
                        a(title='Royal', href='http://mariupol.emdoma.com.ua/royal') Royal
                    td Пиццерия
                    td Европейская кухня
                    td
                        | Отзывов:
                        a(href='http://mariupol.emdoma.com.ua/royal#thread')          22
                tr
                    td
                        a(title='New York Street Pizza', href='http://mariupol.emdoma.com.ua/nysp')
                            img(style='max-height: 100px; max-width: 100px;', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_171221391425930.jpg')
                    td
                        a(title='New York Street Pizza', href='http://mariupol.emdoma.com.ua/nysp') New York Street Pizza
                    td Пиццерия
                    td Европейская кухня
                    td
                        | Отзывов:
                        a(href='http://mariupol.emdoma.com.ua/nysp#thread')          23
        table#con_tab4.dot-table(cellpadding='0', cellspacing='0', width='100%')
            tbody
                tr
                    td
                        a(title='AlpaChina', href='http://mariupol.emdoma.com.ua/china')
                            img(style='max-height: 100px; max-width: 100px;', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s__alschi1364995142.gif')
                    td
                        a(title='AlpaChina', href='http://mariupol.emdoma.com.ua/china') AlpaChina
                    td Фастфуд
                    td Китайская кухня
                    td
                        | Отзывов:
                        a(href='http://mariupol.emdoma.com.ua/china#thread')          1
                tr
                    td
                        a(title='Крила', href='http://mariupol.emdoma.com.ua/krila')
                            img(style='max-height: 100px; max-width: 100px;', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_222221462199458.jpg')
                    td
                        a(title='Крила', href='http://mariupol.emdoma.com.ua/krila') Крила
                    td Фастфуд
                    td Американская кухня
                    td
                        | Отзывов:
                        a(href='http://mariupol.emdoma.com.ua/krila#thread')          8
                tr
                    td
                        a(title='Акватория Burger City', href='http://mariupol.emdoma.com.ua/burger-city')
                            img(style='max-height: 100px; max-width: 100px;', src='http://mariupol.emdoma.com.ua/upload/catalog_categories/images/s_8341434711477.jpg')
                    td
                        a(title='Акватория Burger City', href='http://mariupol.emdoma.com.ua/burger-city') Акватория Burger City
                    td Фастфуд
                    td Европейская кухня
                    td
                        | Отзывов:
                        a(href='http://mariupol.emdoma.com.ua/burger-city#thread')          32
