.form-wrap
  .form-ttl Поиск по заведениям и блюдам
  form#searchForm.searchForm(action='#', method='POST', data-form='search-form')
    .form-group
      input.form-control(type='text', name='earch')
    button.form-btn(type='submit', name='commit') ОК
  em Например, вареники
