.form-wrap
  .form-ttl Поиск по заведениям и блюдам
  form#searchForm.searchForm(action='#', method='POST', data-form='subscribe')
    .form-group
      input.form-control(type='text', name='form')
    button.form-btn(type='submit', name='subscribe') ОК
  em Например, вареники
