.form-wrap
  padding: 20px 35px 30px
  margin-bottom: 55px
  border: 10px solid #ededed
  border-radius: 40px

.form-wrap .form-ttl
  font-size: 18px
  line-height: 24px
  margin-top: 0
  margin-bottom: 10px

.form-wrap em
  font-size: 12px

.form-wrap .form-group
  display: inline-block
  margin-bottom: 5px
  width: calc(100% - 90px)
  margin-right: 15px

.form-wrap .form-group .form-control
  border-radius: 0
  border: 1px solid #ededed
  box-shadow: none
  background: #FFFFFF
  line-height: 38px
  height: 40px
  width: calc(100% - 40px)


